<div class="mrz-div">
    <div>
        <div *ngIf="mrzCredentials" class="mrz-information">
            <div class="key-value-div">
                <p class="key">First names</p>
                <p class="value">{{ mrzCredentials.firstNames.split(",").join(" ") }}</p>
            </div>
            <div class="key-value-div">
                <p class="key">Lastname</p>
                <p class="value">{{ mrzCredentials.lastName }}</p>
            </div>
            <div class="key-value-div">
                <p class="key">Birthdate</p>
                <p class="value">{{ mrzCredentials.birthDate }}</p>
            </div>
            <div class="key-value-div">
                <p class="key">Expiry date</p>
                <p class="value">{{ mrzCredentials.expiryDate }}</p>
            </div>
            <div class="key-value-div">
                <p class="key">Document number</p>
                <p class="value">{{ mrzCredentials.documentNumber }}</p>
            </div>
            <div class="key-value-div">
                <p class="key">Gender</p>
                <p class="value">{{ mrzCredentials.gender }}</p>
            </div>
            <div class="key-value-div">
                <p class="key">Document type</p>
                <p class="value">{{ mrzCredentials.documentType }}</p>
            </div>
        </div>
    </div>
    <div class="button-div">
        <button (click)="initializeSdk()">
            <h4>Initialize</h4>
        </button>
    </div>
    <div class="button-div">
        <button (click)="mrz()">
            <h4>MRZ</h4>
        </button>
    </div>
</div>
<div class="nfc-div">
    <div>
        <ng-container *ngIf="datagroups">
            <div *ngFor="let group of objectKeys(datagroups)">
                <div class="key-value-div">
                    <p class="key">{{ group }}</p>
                    <p class="value">{{ datagroups[group] }}</p>
                </div>
            </div>
        </ng-container>
    </div>
    <div *ngIf="nfcProgressValue !== 100" [style.width.%]="nfcProgressValue" class="nfc-progress-div"></div>
    <div class="button-div">
        <button [disabled]="nfcEnabled" (click)="nfc()">
            <div *ngIf="nfcEnabled" class="loader"></div>
            <h4 *ngIf="!nfcEnabled">NFC</h4>
        </button>
    </div>
</div>