@use "sass-rem" as *;
:host {
    padding: rem(16px 32px);
    display: flex;
    flex-direction: column;
    gap: rem(16px);

    .card {
        box-shadow: 0rem 0.3750rem 0.750rem rgb(0 0 0 / 16%);
        border-radius: rem(8px);
        padding: rem(16px);
        height: fit-content;
    }

    .status {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button, .progress-bar {
        width: 100%;
        padding: rem(6px 18px);
        border-radius: rem(4px);
        font-size: rem(18px);
        background-color: #1B89C4;
        border: rem(1px) solid #1B89C4;
        color: #FFFFFF;
        display: flex;
        justify-content: center;

        &:disabled {
            opacity: 0.5;
        }
    }

    .progress-bar {
        color: #28283C;
        background-color: transparent;
        position: relative;

        .progress {
            transition: width 0.3s ease-in-out;
            background-color: #1B89C4;
            height: 100%;
            position: absolute;
            inset: 0;
            z-index: -1;
        }
    }

    .green {
        color: #9CC66C;
    }

    .red {
        color: #FF3333;
    }

    .img-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;

        img {
            width: 50%;
        }
    }

    .credentials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: rem(12px 0);
        gap: rem(12px);

        p {
            margin: 0;
            align-self: center;
        }

        :nth-child(odd) {
            font-weight: bold;
        }

        :nth-child(even) {
            text-align: right;
        }
    }

    .button-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(8px);
    }
}
