<img src="/assets/img/logo.png" class="logo" alt="Proofme">

<div class="card">
    <div class="status">
        <h3>Status</h3>
        <h4 [ngClass]="initialized ? 'green' : 'red'">{{ initialized ? "Active" : "Inactive" }}</h4>
    </div>
    <button (click)="initializeSdk()">Initialize</button>
</div>

<div class="card credentials-wrapper">
    <div class="status">
        <h3>EPASS</h3>
        <h4 [ngClass]="verified ? 'green' : 'gray'">{{ verified ? "Verified" : "Unverified" }}</h4>
    </div>
    <div class="img-wrapper">
        <img *ngIf="!passportPhoto" src="/assets/img/passport.png" class="photo" alt="passport-photo-placeholder">
        <img *ngIf="passportPhoto" [src]="passportPhoto" class="photo" alt="passport-photo">
    </div>
    <div class="credentials">
        <p>First names:</p> <p>{{ mrzCredentials?.firstNames.split(",").join(" ") }}</p>
        <p>Lastname:</p> <p>{{ mrzCredentials?.lastName }}</p>
        <p>Issuer:</p> <p>{{ mrzCredentials?.issuer }}</p>
        <p>Nationality:</p> <p>{{ mrzCredentials?.nationality }}</p>
        <p>Birthdate:</p> <p>{{ mrzCredentials?.birthDate }}</p>
        <p>Gender:</p> <p>{{ mrzCredentials?.gender }}</p>
        <p>Expiry date:</p> <p>{{ mrzCredentials?.expiryDate }}</p>
        <p>Document number:</p> <p>{{ mrzCredentials?.documentNumber }}</p>
        <p>Document type:</p> <p>{{ mrzCredentials?.documentType }}</p>
    </div>
    <div class="button-wrapper">
        <button [disabled]="nfcEnabled" (click)="mrz()">Scan MRZ</button>
        <button *ngIf="!nfcEnabled" (click)="nfc()">Scan NFC</button>
        <div *ngIf="nfcEnabled" class="progress-bar">
            Scanning..
            <div [style.width.%]="progress" class="progress"></div>
        </div>
        <button [disabled]="!nfcEnabled" (click)="stopNfc()">Stop NFC</button>
        <button [disabled]="nfcEnabled" (click)="passphoto()">Scan photo</button>
    </div>
</div>
