<div class="page">
    <app-header [type_]="headerType" (clickedSettings)="showSettings = true"></app-header>

    <div *ngIf="headerType === EHeaderType.SETTINGS" (click)="clickedBack()" class="back">
        <svg-icon src="/assets/svg/arrow.svg" class="arrow"></svg-icon>
        Back
    </div>

    <div *ngIf="sdk.mrzCredentials || sdk.images.length > 0" class="body">
        <div class="card credentials-wrapper">
            <div class="img-wrapper">
                <img *ngIf="sdk.images.length === 0" src="/assets/img/passport.png" class="photo" alt="passport-photo-placeholder">
                <carousel *ngIf="sdk.images.length > 0" [images]="sdk.images" (indexChanged)="imageIndex = $event"></carousel>
                <h4 class="verified" [ngClass]="sdk.verified ? 'green' : 'gray'">
                    <svg-icon [ngClass]="sdk.verified ? 'green' : 'gray'" src="/assets/svg/{{ sdk.verified ? 'verified' : 'unverified' }}.svg"></svg-icon>
                    {{ sdk.verified ? "Verified" : "Unverified" }}
                </h4>
            </div>

            <div class="credentials-wrapper">
                <div class="credentials">
                    <div *ngIf="sdk.nfcCredentials?.firstNames || sdk.mrzCredentials?.firstNames" class="credential">
                        <p>First names:</p>
                        <p>{{ (sdk.nfcCredentials?.firstNames || sdk.mrzCredentials?.firstNames)?.split(",").join(" ") }}</p>
                    </div>
                    <div *ngIf="sdk.nfcCredentials?.lastName || sdk.mrzCredentials?.lastName" class="credential">
                        <p>Lastname:</p>
                        <p>{{ sdk.nfcCredentials?.lastName || sdk.mrzCredentials?.lastName }}</p>
                    </div>
                    <div *ngIf="!sdk.nfcCredentials?.birthDate && sdk.mrzCredentials?.birthDate" class="credential">
                        <p>Birthdate:</p>
                        <p>{{ sdk.mrzCredentials?.birthDate }}</p>
                    </div>
                    <div *ngIf="sdk.nfcCredentials?.birthDate" class="credential">
                        <p>Birthdate:</p>
                        <p>{{ sdk.nfcCredentials?.birthDate | date: "dd-MM-yyyy" }}</p>
                    </div>
                    <div *ngIf="sdk.nfcCredentials?.nationality || sdk.mrzCredentials?.nationality" class="credential">
                        <p>Nationality:</p>
                        <p>{{ sdk.nfcCredentials?.nationality || sdk.mrzCredentials?.nationality }}</p>
                    </div>
                    <div *ngIf="sdk.nfcCredentials?.gender || sdk.mrzCredentials?.gender" class="credential">
                        <p>Gender:</p>
                        <p>{{ sdk.nfcCredentials?.gender || sdk.mrzCredentials?.gender }}</p>
                    </div>
                    <div *ngIf="sdk.nfcCredentials?.documentNumber || sdk.mrzCredentials?.documentNumber" class="credential">
                        <p>Document number:</p>
                        <p>{{ sdk.nfcCredentials?.documentNumber || sdk.mrzCredentials?.documentNumber }}</p>
                    </div>
                    <div *ngIf="!sdk.nfcCredentials?.expiryDate && sdk.mrzCredentials?.expiryDate" class="credential">
                        <p>Expiry date:</p>
                        <p>{{  sdk.mrzCredentials?.expiryDate }}</p>
                    </div>
                    <div *ngIf="sdk.nfcCredentials?.expiryDate" class="credential">
                        <p>Expiry date:</p>
                        <p>{{ sdk.nfcCredentials?.expiryDate | date: "dd-MM-yyyy" }}</p>
                    </div>
                    <div *ngIf="sdk.nfcCredentials?.issuer || sdk.mrzCredentials?.issuer" class="credential">
                        <p>Issuer:</p>
                        <p>{{ sdk.nfcCredentials?.issuer || sdk.mrzCredentials?.issuer }}</p>
                    </div>
                    <div *ngIf="sdk.nfcCredentials?.documentType || sdk.mrzCredentials?.documentType" class="credential">
                        <p>Document type:</p>
                        <p>{{ sdk.nfcCredentials?.documentType || sdk.mrzCredentials?.documentType }}</p>
                    </div>

                    <div *ngIf="sdk.mrzCredentials" class="credential">
                        <p>Birth date check digit:</p>

                        <div>
                            <p *ngIf="sdk.mrzCredentials?.birthDateCheckDigitCorrect === null || sdk.mrzCredentials?.birthDateCheckDigitCorrect === undefined"></p>
                            <svg-icon *ngIf="sdk.mrzCredentials?.birthDateCheckDigitCorrect === true || sdk.mrzCredentials?.birthDateCheckDigitCorrect === false" class="result-icon" src="/assets/svg/{{ sdk.mrzCredentials?.birthDateCheckDigitCorrect ? 'success' : 'error' }}.svg"></svg-icon>
                        </div>
                    </div>

                    <div *ngIf="sdk.mrzCredentials" class="credential">
                        <p>Document number check digit:</p>

                        <div>
                            <p *ngIf="sdk.mrzCredentials?.documentNumberCheckDigitCorrect === null || sdk.mrzCredentials?.documentNumberCheckDigitCorrect === undefined"></p>
                            <svg-icon *ngIf="sdk.mrzCredentials?.documentNumberCheckDigitCorrect === true || sdk.mrzCredentials?.documentNumberCheckDigitCorrect === false" class="result-icon" src="/assets/svg/{{ sdk.mrzCredentials?.documentNumberCheckDigitCorrect ? 'success' : 'error' }}.svg"></svg-icon>
                        </div>
                    </div>

                    <div *ngIf="sdk.mrzCredentials" class="credential">
                        <p>Expiry date check digit:</p>

                        <div>
                            <p *ngIf="sdk.mrzCredentials?.expiryDateCheckDigitCorrect === null || sdk.mrzCredentials?.expiryDateCheckDigitCorrect === undefined"></p>
                            <svg-icon *ngIf="sdk.mrzCredentials?.expiryDateCheckDigitCorrect === true || sdk.mrzCredentials?.expiryDateCheckDigitCorrect === false" class="result-icon" src="/assets/svg/{{ sdk.mrzCredentials?.expiryDateCheckDigitCorrect ? 'success' : 'error' }}.svg"></svg-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div class="button-wrapper">
                <div *ngIf="sdk.mrzCredentials && !sdk.verified" class="nfc-button">
                    <button *ngIf="!sdk.nfcEnabled" (click)="readNfc()" class="solid blue">Read NFC</button>
                    <div *ngIf="sdk.nfcEnabled" class="blue progress-bar">
                        <div class="text">Scanning..</div>
                        <div [style.width.%]="sdk.progress" class="progress"></div>
                    </div>
                    <svg-icon *ngIf="sdk.nfcEnabled" (click)="stopReadNfc()" src="/assets/svg/close.svg" class="stop-nfc"></svg-icon>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!sdk.mrzCredentials && sdk.images.length === 0" class="body">
        <div class="text">
            <span class="title">Photo Document Detector</span>
            <span class="subtitle">Click the button below and follow the instructions on your screen to detect document details from a photo.</span>
        </div>
        <div class="buttons">
            <button (click)="detectDocument()" class="blue solid">
                Detect Document Details
            </button>
        </div>
    </div>
</div>
<settings-modal *ngIf="showSettings" [type]="settingsType" (close)="showSettings = false"></settings-modal>
