<div class="img-wrapper">
    <img *ngIf="sdk.images.length === 0" src="/assets/img/passport.png" class="photo" alt="passport-photo-placeholder">
    <carousel *ngIf="sdk.images.length > 0" [images]="sdk.images" (indexChanged)="imageIndex = $event"></carousel>
    <h4 class="verified" [ngClass]="sdk.verified ? 'green' : 'gray'">
        <svg-icon [ngClass]="sdk.verified ? 'green' : 'gray'" src="/assets/svg/{{ sdk.verified ? 'verified' : 'unverified' }}.svg"></svg-icon>
        {{ sdk.verified ? "Verified" : "Unverified" }}
    </h4>
</div>
