<div class="page">
    <app-header [type_]="headerType"></app-header>
    <div class="body">
        <div class="text">
            <span class="title">Document Scanner</span>
            <span class="subtitle">Please choose your document flow.</span>
        </div>
        <div class="buttons">
            <button [disabled]="sdk.sdkStatus != ESdkStatus.ACTIVE" (click)="clickedType(EDetectionType.MANUAL)" class="blue">
                Manual document detection
                <svg-icon src="/assets/svg/arrow.svg" class="arrow"></svg-icon>
            </button>
            <button [disabled]="sdk.sdkStatus != ESdkStatus.ACTIVE" (click)="clickedType(EDetectionType.AUTOMATIC)" class="blue">
                Automatic document detector
                <svg-icon src="/assets/svg/arrow.svg" class="arrow"></svg-icon>
            </button>
        </div>
    </div>
</div>
