<photo-credential></photo-credential>
<div class="credentials-wrapper">
    <div class="credentials">
        <div *ngIf="credentials_?.firstNames" class="credential">
            <p>First names:</p>
            <p>{{ credentials_?.firstNames?.split(",").join(" ") }}</p>
        </div>
        <div *ngIf="credentials_?.lastName" class="credential">
            <p>Lastname:</p>
            <p>{{ credentials_?.lastName }}</p>
        </div>
        <div *ngIf="credentials_?.birthDate" class="credential">
            <p>Birthdate:</p>
            <p>{{ credentials_?.birthDate | date: "dd-MM-yyyy" }}</p>
        </div>
        <div *ngIf="credentials_?.nationality" class="credential">
            <p>Nationality:</p>
            <p>{{ credentials_?.nationality }}</p>
        </div>
        <div *ngIf="credentials_?.gender" class="credential">
            <p>Gender:</p>
            <p>{{ credentials_?.gender }}</p>
        </div>
        <div *ngIf="credentials_?.documentNumber" class="credential">
            <p>Document number:</p>
            <p>{{ credentials_?.documentNumber }}</p>
        </div>
        <div *ngIf="credentials_?.expiryDate" class="credential">
            <p>Expiry date:</p>
            <p>{{  credentials_?.expiryDate | date: "dd-MM-yyyy" }}</p>
        </div>
        <div *ngIf="credentials_?.issuer" class="credential">
            <p>Issuer:</p>
            <p>{{ credentials_?.issuer }}</p>
        </div>
        <div *ngIf="credentials_?.documentType" class="credential">
            <p>Document type:</p>
            <p>{{ credentials_?.documentType }}</p>
        </div>

        <div *ngIf="credentials_" class="credential">
            <p>Birth date check digit:</p>

            <div>
                <p *ngIf="credentials_?.birthDateCheckDigitCorrect === null || credentials_?.birthDateCheckDigitCorrect === undefined"></p>
                <svg-icon *ngIf="credentials_?.birthDateCheckDigitCorrect === true || credentials_?.birthDateCheckDigitCorrect === false" class="result-icon" src="/assets/svg/{{ credentials_?.birthDateCheckDigitCorrect ? 'success' : 'error' }}.svg"></svg-icon>
            </div>
        </div>

        <div *ngIf="credentials_" class="credential">
            <p>Document number check digit:</p>

            <div>
                <p *ngIf="credentials_?.documentNumberCheckDigitCorrect === null || credentials_?.documentNumberCheckDigitCorrect === undefined"></p>
                <svg-icon *ngIf="credentials_?.documentNumberCheckDigitCorrect === true || credentials_?.documentNumberCheckDigitCorrect === false" class="result-icon" src="/assets/svg/{{ credentials_?.documentNumberCheckDigitCorrect ? 'success' : 'error' }}.svg"></svg-icon>
            </div>
        </div>

        <div *ngIf="credentials_" class="credential">
            <p>Expiry date check digit:</p>

            <div>
                <p *ngIf="credentials_?.expiryDateCheckDigitCorrect === null || credentials_?.expiryDateCheckDigitCorrect === undefined"></p>
                <svg-icon *ngIf="credentials_?.expiryDateCheckDigitCorrect === true || credentials_?.expiryDateCheckDigitCorrect === false" class="result-icon" src="/assets/svg/{{ credentials_?.expiryDateCheckDigitCorrect ? 'success' : 'error' }}.svg"></svg-icon>
            </div>
        </div>
    </div>
</div>
